name: example
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  camera:
    path: ../

dev_dependencies:
  very_good_analysis: ^2.3.0

flutter:
  uses-material-design: true
